.card {
  border-radius: 22px;
  box-shadow: 2px 2px 5px black;
}
.card-img-top{
  border-radius: 5px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}
.btn{
border: 1px solid black;
}